<style>
	table, th, td {
		border: 1px solid;
		text-align: center;
	}
</style>
<table>
	<tr>
		<td><a href="https://madcacti.github.io/bipbapbopbepbup/">Home</a></td>
		<td>
			<a href="https://madcacti.github.io/bipbapbopbepbup/pages/datastructures">Data Structures</a>
		</td>
		<td>
			<a href="https://madcacti.github.io/bipbapbopbepbup/pages/study">Study Notes</a>
		</td>
		<td>
			<a href="https://madcacti.github.io/bipbapbopbepbup/pages/createtask">Create Task Plan</a>
		</td>
    <td>
			<a href="https://madcacti.github.io/bipbapbopbepbup/pages/corrections">AP MCQ Corrections</a>
		</td>
	</tr>
</table>
<hr/>
